<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.synvata.learning"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
	<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.synvata.learning.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.synvata.utils.Main"
            	android:exported="false">
            <intent-filter>
                <action android:name="com.synvata.utils.action.Main"></action>
            </intent-filter>
        </activity>
        
        <activity android:name="com.synvata.utils.FlightPreference"></activity>
   
         <activity android:name="com.synvata.learning.ListViewByBaseAdapter"></activity>
         <activity android:name="com.synvata.learning.CodeCreateUIActivity"></activity>
         <activity android:name="com.synvata.learning.WeightAndGravityActivity"></activity>
         <activity android:name="com.synvata.thread.MainActivity"></activity>
         <activity android:name="com.synvata.modules.InformationActivity"></activity>
         <activity android:name="com.synvata.modules.HelpCallActivity"></activity>
         <activity android:name="com.synvata.modules.RescueActivity"></activity>
         <activity android:name="com.synvata.modules.MaintainActivity"></activity>
         <activity android:name="com.synvata.modules.DriverLicenseActivity"></activity>
         <activity android:name="com.synvata.modules.CarRegistrationActivity"></activity>
         <activity android:name="com.synvata.modules.TaxForCarShipActivity"></activity>
         <activity android:name="com.synvata.modules.CompulsoryInsuranceActivity"></activity>
         <activity android:name="com.synvata.modules.BusinessInsuranceActivity"></activity>
         <activity android:name="com.synvata.service.TestBC"></activity>
         <receiver android:name="com.synvata.service.TestReceiver">
             
             
             
             <intent-filer>
                 <action android:name="com.synvata.service.myReceiver"></action>
                 
                 
             </intent-filer>
         </receiver>
         <service android:name="com.synvata.service.BackendService"
             android:persistent="true"
             android:exported="true"
             android:enabled="true"></service>
         
         <activity android:name="com.synvata.service.ServicesListActivity"></activity>
         <activity android:name="com.synvata.learning.MainWithTableLayoutActivity"></activity>
         <activity android:name="com.synvata.modules.BusinessSuggestionActivity"></activity>
         <activity android:name="com.synvata.modules.DriverLicenseEditActivity"></activity>
         <activity android:name="com.synvata.modules.HomeActivity"></activity>
         <activity android:name="com.synvata.modules.MaintainEditActivity"></activity>
         <activity android:name="com.synvata.modules.CarRegistrationEditActivity"></activity>
         <activity android:name="com.synvata.modules.LoginActivity"></activity>
         <activity android:name="com.synvata.modules.SignupActivity"></activity>
         <activity android:name="com.synvata.modules.ViolationSearchActivity"></activity>
          <activity android:name="com.synvata.learning.RelativeLayoutTest"></activity>
         
    </application>

</manifest>